<% layout('../layouts/boilerplate')%>

<!--Main wrapper-->
<div class="wrapper">
	<h1>Available Routes of Pune Metro</h1>
	<div class="flex">
		<img src="img/route.jpeg" alt="metro route" />
		<img src="img/1.jpeg" alt="metro route" />
		<img src="img/2.jpeg" alt="metro route" />
		<img src="img/3.jpeg" alt="metro route" />
		<img src="img/4.jpeg" alt="metro route" />
	</div>
</div>
<style>
	* {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	body {
		font-family: "Montserrat", sans-serif;
	}

	h1 {
		margin-bottom: 5px;
		color: rgb(255, 255, 255);
	}

	img {
		padding: 10px 0;
		width: 900px;
	}

	.flex {
		width: 900px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.wrapper {
		width: 100%;
		padding: 3px 0;
		background-color: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(15px);
		margin: 0 auto;
		text-align: center;
	}

</style>
